[submodule "packages/mbarcodescanner"]
	path = packages/mbarcodescanner
	url = https://github.com/milosolutions/mbarcodescanner.git
[submodule "packages/mcharts"]
	path = packages/mcharts
	url = https://github.com/milosolutions/mcharts.git
[submodule "packages/mconfig"]
	path = packages/mconfig
	url = https://github.com/milosolutions/mconfig.git
[submodule "packages/mlog"]
	path = packages/mlog
	url = https://github.com/milosolutions/mlog.git
[submodule "packages/mrestapi"]
	path = packages/mrestapi
	url = https://github.com/milosolutions/mrestapi.git
[submodule "packages/mscripts"]
	path = packages/mscripts
	url = https://github.com/milosolutions/mscripts.git
[submodule "packagesmsentry"]
	path = packages/msentry
	url = https://github.com/milosolutions/msentry.git
[submodule "packages/mcrypto"]
	path = packages/mcrypto
	url = https://github.com/milosolutions/mcrypto.git
[submodule "packages/mwizardtemplate"]
	path = packages/mwizardtemplate
	url = ../mtemplatewizard.git
