[submodule "packages/mbarcodescanner"]
	path = packages/mbarcodescanner
	url = ../mbarcodescanner.git
[submodule "packages/mcharts"]
	path = packages/mcharts
	url = ../mcharts.git
[submodule "packages/mconfig"]
	path = packages/mconfig
	url = ../mconfig.git
[submodule "packages/mlog"]
	path = packages/mlog
	url = ../mlog.git
[submodule "packages/mrestapi"]
	path = packages/mrestapi
	url = ../mrestapi.git
[submodule "packages/mscripts"]
	path = packages/mscripts
	url = ../mscripts.git
[submodule "packages/msentry"]
	path = packages/msentry
	url = ../msentry.git
[submodule "packages/mcrypto"]
	path = packages/mcrypto
	url = ../mcrypto.git
[submodule "packages/mwizardtemplate"]
	path = packages/mwizardtemplate
	url = ../mwizardtemplate.git
[submodule "packages/msshtunnel"]
	path = packages/msshtunnel
	url = ../msshtunnel.git
[submodule "packages/memailsystem"]
	path = packages/memailsystem
	url = ../memailsystem.git
[submodule "packages/mcalendar"]
	path = packages/mcalendar
	url = ../mcalendar.git
